@font-face {

	src: url(../fonts/Lobster-Regular.ttf);
	font-family: lobs;

}

@font-face {

	src: url(../fonts/BigShouldersInlineText-Black.ttf);
	font-family: bsitb;

}

@font-face {

	src: url(../fonts/BigShouldersInlineText-ExtraBold.ttf);
	font-family: bsit;

}


/*-------header starts here---------*/

header {

	padding:0;
	text-align: right;
	height:	auto;
	width: auto;
	background: #191919;
  border-bottom: 2px solid orange;

}

header hr {

  display: none;

}

header h1 {

	text-align: center;
	font-family: lobs ;
	color: white;
	font-size: 40px;

}


/*-------footer starts here---------*/

footer {

	border-top: 2px solid red;
	width: auto;
	height: auto;
	background-color: #191919;
	overflow: hidden;
	text-align: center;

}

footer p {

	font-size: 14px;
	font-family: sans-serif;
  color: white;

}

footer a {

	color: white;
	font-weight: bold;
	text-decoration: none;

}

/********************************************************index**/

.index_body {

	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;

}

.main {

	margin: 0;
	width: auto;
	height: auto;
	padding: 0;

}
.main p {

	color: white;

}

.foodies_logo {

	color:red;
	text-shadow: 1px 2px 5px white;

}

.specials {

	margin: 0;
	width: auto;
	height: auto;
	padding: 10px;

}

.specials label {

	font-size: 50px;
	color: #ffa60a;
	font-family: bsit;
	width: 80px;
	border-bottom: 1px solid #ffa60a;

}
/*************************************Sec 1 starts here */

.spec {

  display: inline-block;
	width: auto;
	height: 100%;
	padding: 10px;

}

.spec img {

  border-radius: 12px;
	width: 100%;
	height: 100%;

}

.spec label {

	font-size: 30px;
	color: white;
	font-family: bsitb;

}

.spec p {

	font-size: 16.5px;
	font-family: sans-serif;

}

.only_for {

	font-size: 20px;
	font-family: bsit;
	color: orange;

}

.price {

	font-size: 30px;
	font-family: bsit;
	color: #ffa60a;

}

.spec a {

	text-decoration: none;
	font-size:	15px;
	color: white;
	font-family: bsit;
	padding: 5px;
	background: #ffa60a;

}
.spec a:active {

	background: red;
	font-size: 13px;

}
.spec hr {

	color: #ffa60a;

}

/*--------Deals start here-----*/

.deals {

	margin-top: 10px;
	width: auto;
	height: auto;
	padding: 10px'

}

.deals label {

	font-size: 50px;
	color: #ffa60a;
	font-family: bsit;
	width: 80px;
	border-bottom: 1px solid #ffa60a;

}

.deals p {
	font-size: 15px;
	font-family: sans-serif;

}

.deals span {

	font-family: bsit;
	font-size: 19px;

}

/*-------------deal 1 start here---------*/

.deal {

	height: auto;
	width: auto;
	height: auto;
	padding: 10px;

}
.deal img {

  border-radius: 12px;
	width: 100%;
	height: 100%;

}

.deal label {

	font-size: 30px;
	color: white;
	font-family: bsitb;

}

.deal p {

	font-size: 16.5px;
	font-family: sans-serif;

}
.deal_only_for {

	font-size: 20px;
	font-family: bsit;
	color: orange;
}
.deal_price {

	font-size: 30px;
	font-family: bsit;
	color: #ffa60a

}

.deal a {

	text-decoration: none;
	font-size:	15px;
	color: white;
	font-family: bsit;
	padding: 5px;
	background: #ffa60a;

}

.deal a:active {

	background: red;
	font-size: 13px;

}

.deal hr {

	color: #ffa60a

}
.deal_p_1 {

	font-family: bsit;
	font-size: 19px;
	text-transform: uppercase;
	color:  #ffa60a;

}

.deal_p_2 {

	font-family: bsit;
	font-size: 	19px;
	text-transform: uppercase;
	color: 	 #ffa60a;
}

.subscribe_form {

	margin: 0;
	padding: 10px;
	width: auto;
	height: auto;

}

.subscribe_form p {

	font-size: 15px;
	font-family: sans-serif;

}

.subscribe_form a {

	text-align: right;
	font-size: 15px;
	color: white;
	text-decoration: none;
	font-family: bsitb;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: orange;

}

.subscribe_form a:active {

	background-color:  red;

}

.subscribe_form input {

	text-align: left;
	font-size: 13px;
	border: none;
	border-bottom: 2px solid orange;
	background: none;
	width: auto;
	color: orange;
	text-decoration: none;
	font-family: sans-serif;

}

.subscribe_form button {

	font-size: 13px;
	border: none;
	padding: 3px;
	margin-left: 10px;
	background: darkorange;
	color: white;

}

.subscribe_form button:active {

	background: red;

}

/*------HOME CSS ENDS HERE-----*/
@media (min-width: 360px) {
	#admin_body {

		background-image: none;

	}
	.index_body {

		background-color: #191919;

	}

	.subscribe_form a {

		font-size: 20px;

	}
	.deal a {

		font-size: 20px;

	}

	.spec a {

		font-size: 20px;

	}

	.subscribe_form input {

		text-align: left;
		font-size: 15px;
		border: none;
		border-bottom: 2px solid orange;
		background: none;
		width: auto;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;

	}

	.subscribe_form button {

		font-size: 15px;
		border: none;
		padding: 3px;
		margin-left: 10px;
		background: darkorange;
		color: white;

	}

	.subscribe_form button:active {

		background: red;

	}

}

@media (min-width: 414px) {
	#admin_body {

		background-image: none;

	}
	footer p {

		font-size:14px;

	}

	.subscribe_form p {

		font-size:20px;

	}

	.subscribe_form a{

		text-align: right;
		font-size: 20px;
		color: white;
		text-decoration: none;
		font-family: bsitb;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 3px;
		padding-bottom: 3px;
		background: orange;

	}
	.subscribe_form a:active {

		background-color:  red;

	}

	.deal label {

		font-size: 25px;

	}
	.deal a {

		text-decoration: none;
		font-size:	20px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;

	}

	.deadl a:active {

		background: red;
		font-size: 18px;

	}

	.spec a {

		text-decoration: none;
		font-size:	20px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;

	}

	.spec a:active {

		background: red;
		font-size: 18px;

	}

	.subscribe_form button:active {

		background: red;

	}

}

@media (min-width: 720px) {
	#admin_body {

		background-image: none;

	}
	header a {

		font-size: 30px;

	}

	.main h1 {

		font-size: 65px;

	}

	footer p {

		font-size:25px;

	}

	.deal {
		margin-top: 10px;
	}

	.deal label {

		font-size: 25px;

	}

	.spec label {

		font-size: 35px;

	}

	.spec p {

		font-size: 30px;

	}

	.only_for {

		font-size: 35px;

	}

	.price {

		font-size: 40px;

	}

	.spec a {

		text-decoration: none;
		font-size:	30px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;

	}

	.spec a:active {

		background: red;
		font-size: 25px;

	}

	.specials label {

		font-size: 60px

	}

	.deal label {

		font-size: 35px;

	}

	.deals span {

		font-size: 25px;

	}

	.deal a {

		text-decoration: none;
		font-size:	20px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;

	}

	.deal a:active {

		background: red;
		font-size: 18px;

	}

	.deal p {

		font-size: 25px;

	}

	.deal_p_1 {

		font-size: 30px;

	}

	.deal_p_2 {

		font-size: 30px;

	}

	.deal_only_for {

		font-size: 30px;

	}

	.deal_price {

		font-size: 35px;

	}

	.subscribe_form p {

		font-size: 25px;

	}

	.subscribe_form a {

		text-align: right;
		font-size: 25px;
		color: white;
		text-decoration: none;
		font-family: bsitb;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 3px;
		padding-bottom: 3px;
		background: orange;

	}

	.subscribe_form a:active {

		background-color:  red;

	}

	.subscribe_form input {

		text-align: left;
		font-size: 18px;
		border: none;
		border-bottom: 1px solid orange;
		background: none;
		width: 300px;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;

	}
	.subscribe_form button {

		font-size: 18px;
		border: none;
		padding: 4px;
		margin-left: 13px;
		background: darkorange;
		color: white;

	}

	.subscribe_form button:active {

		background: red;

	}

}

@media (min-width: 568px) {
	#admin_body {

		background-image: none;

	}
	header a {

		font-size: 30px;

	}

	.deal {

		margin-top: 10px;

	}

	.subscribe_form button:active {

		background: red;

	}

@media (min-width: 896px) {
	#admin_body {

		background-image: none;

	}
	header a {

		font-size: 45px;
		padding: 30px;

	}

	.deal {

		margin-top: 10px;

	}

	.subscribe_form button:active {

		background: red;

	}

}

@media (min-width: 1360px) {


	.deal {

		margin-top: 10px;

	}

	header h1 {

		font-size: 50px;

	}

	.foodies_logo {

		text-shadow: none;

	}

	.foodies_logo:hover {

		text-shadow: 0px 0px 0px none;
		text-shadow: 1px 3px 5px white;
		transition: .1s;

	}

	header {

		padding-left: 10px;
		padding-right: 10px;
		background: #191919;
		width: auto;
		height: auto;

	}

	header a {

		font-size: 30px;
		padding: 0;
		padding:10px;

	}

	footer {

		text-align: center;
		background: #191919;
		color: white;
		border-top: none;
		border-top: 1px solid orange;
		padding:20px;

	}

	footer p {

		font-size: 20px;

	}

	footer a {

		color: orange;

	}

	.main {

		display: block;

	}
	.spec {

		margin: 4px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 300px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);

	}

	.spec:hover {

		box-shadow: 8px 11px 8px;
		transition: .2s;

	}

	.spec img:hover {

		box-shadow: 8px 11px 8px;
		transition: .2s;

	}

	.spec p {

		font-size: 25px;

	}

	.spec a {

		text-align: center;
		width: 100%;
		background: red;
		font-size: 20px;

	}

	.spec a:hover {

		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;

	}

	.only_for {

		color: red;
		word-spacing: 5px;
		font-size: 30px;
		font-family: bsitb;

	}

	.spec img {

		box-shadow: 1px 2px 7px;

	}

	.price {

		color: red;
		word-spacing: 10px;
		font-size: 35px;
		font-family: bsitb;

	}

	.spec hr {

		display: none;

	}

	.inches {

		font-size: 20px;

	}

	.deal:hover {

		box-shadow: 15px 20px 7px;
		transition: .2s;

	}

	.deal {

		margin: 4px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 300px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);

	}

	.deal:hover {

		box-shadow: 8px 11px 8px;
		transition: .2s;

	}

	.deal img:hover {

	 box-shadow: 8px 11px 8px;
	 transition: .2s;

	}

	.deal img {

		box-shadow: 1px 2px 7px;

	}

	.deal hr {

		display: none;

	}

	.deals label {

		font-family: bsitb;
		font-size: 75px;

	}

	.deals span {

		font-size: 40px;
		color: orange;
		word-spacing: 10px;

	}

	.deal_p_1 {

		color: red;
		font-family: bsitb;

	}

	.deal_p_2 {

		color: red;
		font-family: bsitb;

	}

	.deal a {

		text-align: center;
		width: 100%;
		background: red;

	}

	.deal a:hover {

		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;

	}

	.deal_only_for {

		color: red;
		word-spacing: 10px;
		font-size: 30px;
		font-family: bsitb;

	}

	.deal_price {

		color: red;
		word-spacing: 5px;
		font-size: 35px;
		font-family: bsitb;

	}

	.specials {

		padding: 0;
		padding: 20px;

	}

	.specials label {

		font-size: 75px;
		font-family: bsitb;

	}

	.subscribe_form{
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		padding: 10px;
		border-top: 1px solid orange;
	}

	.subscribe_form hr {

		border-bottom: none;

	}
	.subscribe_form p{
		margin: 20px;
		font-size: 20px;
		font-family: sans-serif;
	}
	.subscribe_form input{
		text-align: left;
		font-size: 16px;
		border: none;
		border-bottom: 2px solid orange;
		background: none;
		width: 300px;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;
		margin: 0;
		margin-left: 20px;
	}
	.subscribe_form button{
		font-size: 20px;
		border: none;
		background-color: orange;
		color: white;
		font-family: sans-serif;
		padding: 5px;
		margin-left: 10px;
	}
		.subscribe_form button:hover{
			box-shadow: 1px 3px 5px black;
		}
		.subscribe_form input:hover{
			transition-timing-function:ease-in-out;
			width: 350px;
			transition: .3s;
		}
		.subscribe_form input:focus{
			width: 350px;
			transition: .3s;
			transition-timing-function:ease-in-out;
		}
}
@media (min-width: 1440px ){
	.deal{
		margin-top: 10px;
	}

	.spec{
		margin: 10px;
		width: 300px;
		height: auto;
	}
	.spec p{
		font-size: 25px;
	}
	.only_for{
		font-size: 30px;
	}
	.price{
		font-size: 35px;
	}
	.deals p{
		font-size: 25px;
	}
	.deal{
		margin: 5px 10px 5px 10px;
		width: 300px;
		height: auto;
	}
	.deal p{
		font-size: 25px;
	}
	.deal_p_1{
		font-size: 25px;
	}
	.deal_p_2{
		font-size: 30px;
	}
	.deal_only_for{
		font-size: 30px;
	}
	.deal_price{
		font-size: 35px;
	}
}
@media (min-width: 1600px){
	.deal{
		margin-top: 10px;
	}

	header h1{
		font-size: 50px;
	}
	.foodies_logo{
		text-shadow: none;
	}
	.foodies_logo:hover{
		text-shadow: 0px 0px 0px none;
		text-shadow: 1px 3px 5px white;
		transition: .1s;
	}
	header{
		padding-left: 10px;
		padding-right: 10px;
		background-color: #191919;
		width: auto
		height: auto;

	}
	header a{
		font-size: 30px;
		padding: 0;
		padding:10px;
	}

	header hr{

	}
	footer{
		text-align: center;
		background: #191919;
		color: white;
		border-top: none;
		border-top: 1px solid orange;
		padding:20px;
	}

	footer p{
		font-size: 20px;

	}
	footer a{
		color: orange;
	}

	.main{
		display: block;
	}
	.spec {
		margin: 4px;
		margin-left: 10px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 350px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);

	}
	.spec p{
		font-size: 29px;
	}
	.deal p{
		font-size: 29px;
	}
	.spec:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.spec img:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.spec a{
		text-align: center;
		width: 100%;
		background: red;
	}
	.spec a:hover{
		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;
	}
	.only_for{
		color: red;
		word-spacing: 10px;
		font-size: 30px;
		font-family: bsitb;
	}
	.spec img{
		box-shadow: 1px 2px 7px;
	}
	.price{
		color: red;
		word-spacing: 10px;
		font-size: 35px;
		font-family: bsitb;
	}
	.spec hr{
		display: none;


	}
	.inches{
		font-size: 20px;
	}
	.deal:hover{
		box-shadow: 15px 20px 7px;
		transition: .2s;
	}
	.deal {
		margin: 4px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 350px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);
	}
	.deal:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.deal img:hover{
	box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.deal img{
		box-shadow: 1px 2px 7px;
	}
	.deal hr{
		display: none;
	}
	.deals label{
		font-family: bsitb;
		font-size: 75px;
	}
	.deals span{

		font-size: 40px;
		color: orange;
		word-spacing: 10px;
	}
	.deals p{
		font-size: 30px;
	}
	.deal_p_1{
		color: red;
		font-family: bsitb;
	}
	.deal_p_2{
		color: red;
		font-family: bsitb;
	}
	.deal a{
		text-align: center;
		width: 100%;
		background: red;
	}
	.deal a:hover{
		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;
	}
	.deal_only_for{
		color: red;
		word-spacing: 10px;
		font-size: 30px;
		font-family: bsitb;
	}
	.deal_price{
		color: red;
		word-spacing: 10px;
		font-size: 35px;
		font-family: bsitb;
	}
	.specials{
		padding: 0;
		padding: 20px;
	}
	.specials label{
		font-size: 75px;
		font-family: bsitb;
	}
	.subscribe_form{
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		padding: 10px;
		border-top: 1px solid orange;
	}
	.subscribe_form hr{
		border-bottom: none;
	}
	.subscribe_form p{
		margin: 20px;
		font-size: 20px;
		font-family: sans-serif;
	}
	.subscribe_form input{
		text-align: left;
		font-size: 16px;
		border: none;
		border-bottom: 2px solid orange;
		background: none;
		width: 300px;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;
		margin: 0;
		margin-left: 20px;
	}
	.subscribe_form button{
		font-size: 20px;
		border: none;
		background-color: orange;
		color: white;
		font-family: sans-serif;
		padding: 5px;
		margin-left: 10px;
	}
		.subscribe_form button:hover{
			box-shadow: 1px 3px 5px black;
		}


}
@media (min-width: 1920px ){
	.deal{
		margin-top: 10px;
	}

	.spec{
		margin: 20px;
		width: 300px;
		height: 500px;
	}
	.spec p{
		font-size: 20px;
	}
	.spec:hover{
		box-shadow:
	}
	.deal{
		margin: 20px;
		width: 320px;
		height: 500px;
	}
	.deal p{
		font-size: 20px;
	}
	#admin_body {
		overflow-x: hidden;
		width: 100%;
		height: auto;
		background: white;
		background-image: url("adminbg.jpg");
		position: absolute;
		background-repeat: repeat-y;
		background-size: cover;

	}
}

/*-----------------------------------------------------------------------------insert page starts here---*/
#sql_subscribe{
	height: auto;
	width: auto;
	text-align: center;
	font-size: 15px;
	word-spacing: 3px;
	color: white;

}


/*----------------------------------------------------------------------admin page---*/

#admin_body {
	overflow-x: hidden;
	width: 100%;
	height: auto;
	background: white;
	background-image: url("adminbg.jpg");
	position: absolute;
	background-repeat: repeat-y;
	background-size: cover;

}

#admin{
	width: 100%;
	height: 100%;
	background: WHITE;


}
.admin_form {

	z-index: 99999;
	position: absolute;
	border-radius: 40px;
	text-align: center;
	margin-left: 8%;
	margin-top: 12%;
	display: inline-block;
	width: 300px;
	height: 350px;
	background: #975758;

}
.admin_form:hover {

	box-shadow: 1px 1px 30px #FCE5E8;
	width: 310px;
	height: 360px;
	margin-left: 7.70%;
	border-radius: 45px;
	transition: .3s;

}


#user_img img{
	width: 80px;
	margin-left:0%;
	height: auto;
}
#admin label{
	font-size: 17px;
	color: #ffb8bb;
	font-family: sans-serif;

}
#admin input{
	font-size: 15px;
	font-family: sans-serif;
	border: none;
	background: none;
	color: #ffb8bb;
	height: 40px;
	width: 200px;
	border-bottom: 1.5px solid #ffb8bb;

}
#admin input:focus{
	width: 220px;
	transition: .5s;
}
#admin button{
	font-size: 15px;
	width: 80px;
	height: 30px;
	font-family: sans-serif;
	border: 1px solid #ffb8bb;
	background: none;
	text-transform: uppercase;
	color: #ffb8bb;
}
#admin button:hover{
	background: #0799FF;
	color: white;
	transition: .2s;

}
	#admin_no_MFA{
	display: none;
}
@media (min-width: 1920px) {
	#admin_body{
		width: 100%;
		height: auto;
		background: white;
		background-image: url("admin.jpg");
		position: absolute;
		background-repeat:  repeat-y;
		background-size: cover;

	}
}
@media (max-width:1440px) {
		#admin{
			display: none;
		}

		#admin_no_MFA{

			padding: 40px;
			text-align: center;
			display: block;
			width: auto;
			height: auto;
		}
		#admin_no_MFA p{
			border: solid;
			background-color: orange;
			margin-top: 40%;
			width: 450px;
			display: inline-block;
			color: white;
			font-size: 80px;
			font-family: monospace;
			text-transform: uppercase;

		}
		#admin_no_MFA	a{
			text-decoration: none;
			font-size: 50px;
			color: white;
			font-family: bsitb;
			background-color: orange;
			padding: 20px 50px 20px 50px;
		}
		#admin_no_MFA a:focus{
			background: red;
		}

}
#error_page {

	width: 100%;
	height: auto;
	background-image: url("error.webp");
	background-repeat: repeat-y;
	background-size: cover;

}
#error_display{
	width: auto;
	height: auto;
	text-align: center;
}
#error_display h1{
	margin-left: 50%;
	margin-top: 10%;
	font-size: 100px;
	color: white;
	font-family: fantasy;
}
#error_display span{
	font-size: 50px;
}
#error_display	a{
		text-decoration: none;
		color: white;
		margin-left: 49%;
		font-size: 30px;
		padding: 10px;
		background: none;
		border: 1px solid #ffb8bb;
		font-family: sans-serif;
}
#error_display a:hover{
	box-shadow: 5px 5px 7px black;
	background: #ffb8bb;
	transition: .2s;
}
