@font-face {

	src: url(../fonts/Lobster-Regular.ttf);
	font-family: lobs;

}

@font-face {

	src: url(../fonts/BigShouldersInlineText-Black.ttf);
	font-family: bsitb;

}

@font-face {

	src: url(../fonts/BigShouldersInlineText-ExtraBold.ttf);
	font-family: bsit;

}


/*-------header starts here---------*/
