@font-face{
	src: url(../fonts/BigShouldersInlineText-Black.ttf);
	font-family: bsit;
}
@font-face{
	src: url(../fonts/Lobster-Regular.ttf);
	font-family: lobs;
}
html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;

}

/*header starts here*/

header {
	text-align: center;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 0;
	background-color: #191919;
	border-bottom: 2px solid orange;
}
header h1{
	font-size: 90px;
	font-family: lobs;
	color: white;
}
header span{
	color: red;
	text-shadow: 5px 5px 10px white;
}

/*header ends here*/

/*Footer starts here*/

footer{
	text-align: center;
	width: auto;
	height: auto;
	border-top: 2px solid orange;
	padding: 20px;
	margin: 0;
	background-color: #191919;
}
footer p{
	line-height: 50px;
	font-family: sans-serif;
	color: white;
	font-size: 30px;
}
footer a{
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	color: orange;
	text-transform: uppercase;
}

/*footer ends here*/

/*************************************************index body starts here*/

.index_body{
	width: 100%;
	padding: 0;
	margin: auto;
	height: auto;
	background-color: #191919;

}
.index_main{

	padding: 0px;
	height: auto;
	width: 100%;
	margin: 0;

}

/* specials div */

.specials{

	padding: 50px;
	width: 100%;
	height: auto;
	margin: auto;

}
.specials label{

	font-size: 80px;
	border-bottom: 2px solid orange;
	color: orange;
	font-family: bsit;

}

/* special items div */

.spec{

	margin: auto;
	width: 100%;
	height: auto;

}
.spec hr{
	width: 100%;
	margin: auto;
	color: orange;

}
.spec label{
	padding: 50px;
	margin: auto;
	font-size: 70px;
	font-family: bsit;
	color: white;
}
.spec img{

	text-align: center;
	display: block;
	margin:auto;
	width: 90%;
	height: auto;
	border-radius: 20px;
	box-shadow: 2px 2px 40px orange;

}
.spec p{
		font-size: 45px;
		padding-left: 50px;
		padding-bottom: 10px;
		margin: auto;
		color: white;
}
.only_for {
	font-family: 50px;
	font-family: bsit;
	color: orange;
}
.price {
	font-size: 80px;
	color: orange;
	font-family: bsit;
}
.spec a{
	font-size: 50px;
	margin-left: 50px;
	padding: 10px;
	background: red;
	text-decoration: none;
	color: white;
	font-family: bsit;
}
/* special ends here */

/* specials div */

.deals{

	padding: 50px;
	width: 100%;
	height: auto;
	margin: auto;

}
.deals label{

	font-size: 80px;
	border-bottom: 2px solid orange;
	color: orange;
	font-family: bsit;

}
.deals p{
	font-size: 40px;
	color: white;
}
.deals span{
	font-size: 50px;
	font-family: bsit;
	text-transform: uppercase;
	color: orange;
	padding-top: 10px;
}

/* deal items div */

.deal{

	margin: auto;
	width: 100%;
	height: auto;

}
.deal hr{
	width: 100%;
	margin: auto;
	color: orange;

}
.deal label{
	padding: 50px;
	margin: auto;
	font-size: 70px;
	font-family: bsit;
	color: white;
}
.deal img{

	text-align: center;
	display: block;
	margin:auto;
	width: 90%;
	height: auto;
	border-radius: 20px;
	box-shadow: 2px 2px 40px orange;

}
.deal p{
		font-size: 45px;
		padding-left: 50px;
		padding-bottom: 10px;
		margin: auto;
		color: white;
}
.deal_only_for {
	font-family: 50px;
	font-family: bsit;
	color: orange;
}
.deal_price {
	font-size: 80px;
	color: orange;
	font-family: bsit;
}
.deal a{
	font-size: 50px;
	margin-left: 50px;
	padding: 10px;
	background: red;
	text-decoration: none;
	color: white;
	font-family: bsit;
}
.deal_p_1{
	font-size: 55px;
	font-family: bsit;
	color: orange;
	text-transform: uppercase;
}
.deal_p_2{
	font-size: 55px;
	font-family: bsit;
	color: orange;
	text-transform: uppercase;
}

/* deal ends here */

/* subscrib form starts here */

.subscribe_form{
	width: 100%;
	height: auto;

}
.subscribe_form p{
	font-size: 40px;
	margin-left: 20px;
	color: white;
}
.subscribe_form input{
	margin-left: 20px;
	background: none;
	border: none;
	width: 400px;
	font-size: 30px;
	color: orange;
	border-bottom: 3px solid orange;
	margin-bottom: 20px;
}
.subscribe_form input:focus{
	width: 460px;
	transition: 1s;
}
.subscribe_form button{
	font-size: 30px;
	margin-left: 15px;
	border: none;
	background: none;
	border: 2px solid orange;
	padding: 10px;
	color: orange;
}
.subscribe_form button{
	animation-name: stretch;
	animation-duration: 1.0s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
@keyframes stretch {
	 0% {
		background-color: orange;
		color: white;
			}
}

/* subscribe form ends here */

/**************************************************Index body ends here */

/**************************************************Order starts here */

#order_body{
	width: 100%;
	padding: 0;
	margin: auto;
	height: auto;
	background-color: #191919;
}
.order_menu{
	display: inline;
	padding: auto;
	margin: auto;
	width: 100%;
	height: auto;
}
.order_menu h1{
	text-align: center;
	margin-top: 30px;
	font-size: 50px;
	color: white;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: 0px 0px 20px orange;
	animation-name: order_menu;
	animation-duration: 1.0s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
@keyframes order_menu {
	 0% {
		background-color: orange;
		color: white;
			}
}


/* table starts here */

.table_items{
	width: 90%;
	height: auto;
	margin: auto;
	text-align: center;
	background: none;
	border-radius: 20px 20px 0px 0px;
}
.table_items th{
	padding: 10px;
	border-radius: 20px 20px 0 0 ;
	font-size: 35px;
	background-color: darkorange;
}
.table_items td{
	background-color: orange;
	font-size: 30px;
	padding: 5px;
}
