@font-face{
	src: url(./fonts/Lobster-Regular.ttf);
	font-family: lobs;
}
@font-face{
	src: url(./fonts/BigShouldersInlineText-Black.ttf);
	font-family: bsitb;
}
@font-face{
	src: url(./fonts/BigShouldersInlineText-ExtraBold.ttf);
	font-family: bsit;
}
html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}
html hr{
  color: orange;
}
body{
	overflow: scroll;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	background: #191919;
}

/*-------header starts here---------*/

header{
	padding:0;
	text-align: right;
	height:	auto;
	width: auto;
	background: #191919;
  border-bottom: 2px solid orange;
}
header hr{
  display: none;
}
header h1{
	text-align: center;
	font-family: lobs ;
	color: white;
	font-size: 40px;
}


/*-------footer starts here---------*/

footer{
	border-top: 2px solid red;
	width: auto;
	height: auto;
	background-color: #191919;
	overflow: hidden;
	text-align: center;
}
footer p{
	font-size: 14px;
	font-family: sans-serif;
   color: white;
}
footer a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*-------main starts here---------*/

.main{
	margin: 0;
	width: auto;
	height: auto;
	padding: 0;

}
.main p{
   
	color: white;
}

.foodies_logo{
	color:red;
	text-shadow: 1px 2px 5px white;
}
.specials{
	margin: 0;
	width: auto;
	height: auto;
	padding: 10px;
}
.specials label{
   
	font-size: 50px;
	color: #ffa60a;
	font-family: bsit;
	width: 80px;
	border-bottom: 1px solid #ffa60a;

}
   /* Sec 1 starts here */

.spec{
   display: inline-block;
	width: auto;
	height: 100%;
	padding: 10px;
}
.spec img{
   border-radius: 12px;
	width: 100%;
	height: 100%;
}
.spec label{
   
	font-size: 30px;
	color: white;
	font-family: bsitb;
}
.spec p{
	font-size: 16.5px;
	font-family: sans-serif;
}
.only_for {
	font-size: 20px;
	font-family: bsit;
	color: orange;
}
.price {
	font-size: 30px;
	font-family: bsit;
	color: #ffa60a;
}
.spec a{
	text-decoration: none;
	font-size:	15px;
	color: white;
	font-family: bsit;
	padding: 5px;
	background: #ffa60a;
}
.spec a:active{
	background: red;
	font-size: 13px;
}
.spec hr{
	color: #ffa60a;
}


/*--------Deals start here-----*/

.deals{
	margin: 0;
	width: auto;
	height: auto;
	padding: 10px;
}
.deals label{
	font-size: 50px;
	color: #ffa60a;
	font-family: bsit;
	width: 80px;
	border-bottom: 1px solid #ffa60a;

}
.deals p{
	font-size: 15px;
	font-family: sans-serif;
}
.deals span{
	font-family: bsit;
	font-size: 19px;
}

/*-------------deal 1 start here---------*/

.deal{
	height: auto;
	width: auto;
	height: auto;
	padding: 10px;
}
.deal img{
   border-radius: 12px;
	width: 100%;
	height: 100%;
}
.deal label{
	font-size: 30px;
	color: white;
	font-family: bsitb;
}
.deal p{
	font-size: 16.5px;
	font-family: sans-serif;
}
.deal_only_for {
	font-size: 20px;
	font-family: bsit;
	color: orange;
}
.deal_price{
	font-size: 30px;
	font-family: bsit;
	color: #ffa60a;
}
.deal a{
	text-decoration: none;
	font-size:	15px;
	color: white;
	font-family: bsit;
	padding: 5px;
	background: #ffa60a;
}
.deal a:active{
	background: red;
	font-size: 13px;
}
.deal hr{
	color: #ffa60a;
}
.deal_p_1{
	font-family: bsit;
	font-size: 19px;
	text-transform: uppercase;
	color:  #ffa60a;
}
.deal_p_2{
	font-family: bsit;
	font-size: 	19px;
	text-transform: uppercase;
	color: 	 #ffa60a;
}
.end_of_deals{
	margin: 0;
	padding: 10px;
	width: auto;
	height: auto;
}
.end_of_deals p{
	font-size: 15px;
	font-family: sans-serif;
}

.end_of_deals a{
	text-align: right;
	font-size: 15px;
	color: white;
	text-decoration: none;
	font-family: bsitb;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: orange;
}
.end_of_deals a:active{
	background-color:  red;
}
.end_of_deals input{
	text-align: left;
	font-size: 13px;
	border: none;
	border-bottom: 2px solid orange;
	background: none;
	width: auto;
	color: orange;
	text-decoration: none;
	font-family: sans-serif;

}
.end_of_deals button{
	font-size: 13px;
	border: none;
	padding: 3px;
	margin-left: 10px;
	background: darkorange;
	color: white;
}
.end_of_deals button:active{
	background: red;
}

/*------HOME CSS ENDS HERE-----*/
@media (min-width: 360px){
	.end_of_deals a{
		font-size: 20px;
	}
	.deal a{
		font-size: 20px;
	}
	.spec a{
		font-size: 20px;
	}
	.end_of_deals input{
		text-align: left;
		font-size: 15px;
		border: none;
		border-bottom: 2px solid orange;
		background: none;
		width: auto;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;

	}
	.end_of_deals button{
		font-size: 15px;
		border: none;
		padding: 3px;
		margin-left: 10px;
		background: darkorange;
		color: white;
	}
	.end_of_deals button:active{
		background: red;
	}
}
@media (min-width: 414px){
	footer p{
		font-size:14px;
	}
	.end_of_deals p{
		font-size:20px;
	}
	.end_of_deals a{
		text-align: right;
		font-size: 20px;
		color: white;
		text-decoration: none;
		font-family: bsitb;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 3px;
		padding-bottom: 3px;
		background: orange;
	}
	.end_of_deals a:active{
		background-color:  red;
	}

	.deal label{
		font-size: 25px;
	}
	.deal a{
		text-decoration: none;
		font-size:	20px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;
	}
	.deadl a:active{
		background: red;
		font-size: 18px;
	}
	.spec a{
		text-decoration: none;
		font-size:	20px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;
	}
	.spec a:active{
		background: red;
		font-size: 18px;
	}
	.end_of_deals button:active{
		background: red;
	}
}
@media (min-width: 720px){
	header a{
		font-size: 30px;
	}

	.main h1{
		font-size: 65px;
	}
	footer p{
		font-size:25px;
	}
	.deal label{
		font-size: 25px;
	}
	.spec label{
		font-size: 35px;
	}

	.spec p{
		font-size: 30px;
	}
	.only_for{
		font-size: 35px;
	}
	.price{
		font-size: 40px;
	}
	.spec a{
		text-decoration: none;
		font-size:	30px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;
	}
	.spec a:active{
		background: red;
		font-size: 25px;
	}
	.specials label{
		font-size: 60px;
	}
	.deal label{
		font-size: 35px;
	}
	.deals span{
		font-size: 25px;
	}
	.deal a{
		text-decoration: none;
		font-size:	20px;
		color: white;
		font-family: bsit;
		padding: 5px;
		background: #ffa60a;
	}
	.deal a:active{
		background: red;
		font-size: 18px;
	}
	.deal p{
		font-size: 25px;
	}
	.deal_p_1{
		font-size: 30px;
	}
	.deal_p_2{
		font-size: 30px;
	}
	.deal_only_for{
		font-size: 30px;
	}
	.deal_price{
		font-size: 35px;
	}
	.end_of_deals p{
		font-size: 25px;
	}
	.end_of_deals a{
		text-align: right;
		font-size: 25px;
		color: white;
		text-decoration: none;
		font-family: bsitb;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 3px;
		padding-bottom: 3px;
		background: orange;
	}
	.end_of_deals a:active{
		background-color:  red;
	}
	.end_of_deals input{
		text-align: left;
		font-size: 18px;
		border: none;
		border-bottom: 1px solid orange;
		background: none;
		width: 300px;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;

	}
	.end_of_deals button{
		font-size: 18px;
		border: none;
		padding: 4px;
		margin-left: 13px;
		background: darkorange;
		color: white;
	}
	.end_of_deals button:active{
		background: red;
	}
}
@media (min-width: 568px){
	header a{
		font-size: 30px;
	}}
	.end_of_deals button:active{
		background: red;
	}
@media (min-width: 896px){
	header a{
		font-size: 45px;
		padding: 30px;
	}
	.end_of_deals button:active{
		background: red;
	}
}
@media (min-width: 1360px){

	header h1{
		font-size: 50px;
	}
	.foodies_logo{
		text-shadow: none;
	}
	.foodies_logo:hover{
		text-shadow: 0px 0px 0px none;
		text-shadow: 1px 3px 5px white;
		transition: .1s;
	}
	header{
		padding-left: 10px;
		padding-right: 10px;
		background: #191919;
		width: auto
		height: auto;

	}
	header a{
		font-size: 30px;
		padding: 0;
		padding:10px;
	}

	header hr{

	}
	footer{
		text-align: center;
		background: #191919;
		color: white;
		border-top: none;
		border-top: 1px solid orange;
		padding:20px;
	}

	footer p{
		font-size: 20px;

	}
	footer a{
		color: orange;
	}

	.main{
		display: block;
	}
	.spec {
		margin: 4px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 300px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);

	}
	.spec:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.spec img:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;
	}
	.spec p{
		font-size: 25px;
	}
	.spec a{
		text-align: center;
		width: 100%;
		background: red;
		font-size: 20px;
	}
	.spec a:hover{
		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;
	}
	.only_for{
		color: red;
		word-spacing: 5px;
		font-size: 30px;
		font-family: bsitb;
	}
	.spec img{
		box-shadow: 1px 2px 7px;
	}
	.price{
		color: red;
		word-spacing: 10px;
		font-size: 35px;
		font-family: bsitb;
	}
	.spec hr{
		display: none;


	}
	.inches{
		font-size: 20px;
	}
	.deal:hover{
		box-shadow: 15px 20px 7px;
		transition: .2s;
	}
	.deal {
		margin: 4px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 300px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);
	}
	.deal:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.deal img:hover{
	box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.deal img{
		box-shadow: 1px 2px 7px;
	}
	.deal hr{
		display: none;
	}
	.deals label{
		font-family: bsitb;
		font-size: 75px;
	}
	.deals span{

		font-size: 40px;
		color: orange;
		word-spacing: 10px;
	}

	.deal_p_1{
		color: red;
		font-family: bsitb;
	}
	.deal_p_2{
		color: red;
		font-family: bsitb;
	}
	.deal a{
		text-align: center;
		width: 100%;
		background: red;
	}
	.deal a:hover{
		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;
	}
	.deal_only_for{
		color: red;
		word-spacing: 10px;
		font-size: 30px;
		font-family: bsitb;
	}
	.deal_price{
		color: red;
		word-spacing: 5px;
		font-size: 35px;
		font-family: bsitb;
	}
	.specials{
		padding: 0;
		padding: 20px;
	}
	.specials label{
		font-size: 75px;
		font-family: bsitb;
	}
	.end_of_deals{
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		padding: 10px;
		border-top: 1px solid orange;
	}
	.end_of_deals hr{
		border-bottom: none;
	}
	.end_of_deals p{
		margin: 20px;
		font-size: 20px;
		font-family: sans-serif;
	}
	.end_of_deals input{
		text-align: left;
		font-size: 16px;
		border: none;
		border-bottom: 2px solid orange;
		background: none;
		width: 300px;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;
		margin: 0;
		margin-left: 20px;
	}
	.end_of_deals button{
		font-size: 20px;
		border: none;
		background-color: orange;
		color: white;
		font-family: sans-serif;
		padding: 5px;
		margin-left: 10px;
	}
		.end_of_deals button:hover{
			box-shadow: 1px 3px 5px black;
		}
		.end_of_deals input:hover{
			transition-timing-function:ease-in-out;
			width: 350px;
			transition: .3s;
		}
		.end_of_deals input:focus{
			width: 350px;
			transition: .3s;
			transition-timing-function:ease-in-out;
		}
}
@media (min-width: 1440px ){
	.spec{
		margin: 10px;
		width: 300px;
		height: auto;
	}
	.spec p{
		font-size: 25px;
	}
	.only_for{
		font-size: 30px;
	}
	.price{
		font-size: 35px;
	}
	.deals p{
		font-size: 25px;
	}
	.deal{
		margin: 5px 10px 5px 10px;
		width: 300px;
		height: auto;
	}
	.deal p{
		font-size: 25px;
	}
	.deal_p_1{
		font-size: 25px;
	}
	.deal_p_2{
		font-size: 30px;
	}
	.deal_only_for{
		font-size: 30px;
	}
	.deal_price{
		font-size: 35px;
	}
}
@media (min-width: 1600px){
	
	header h1{
		font-size: 50px;
	}
	.foodies_logo{
		text-shadow: none;
	}
	.foodies_logo:hover{
		text-shadow: 0px 0px 0px none;
		text-shadow: 1px 3px 5px white;
		transition: .1s;
	}
	header{
		padding-left: 10px;
		padding-right: 10px;
		background-color: #191919;
		width: auto
		height: auto;

	}
	header a{
		font-size: 30px;
		padding: 0;
		padding:10px;
	}

	header hr{

	}
	footer{
		text-align: center;
		background: #191919;
		color: white;
		border-top: none;
		border-top: 1px solid orange;
		padding:20px;
	}

	footer p{
		font-size: 20px;

	}
	footer a{
		color: orange;
	}

	.main{
		display: block;
	}
	.spec {
		margin: 4px;
		margin-left: 10px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 350px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);

	}
	.spec p{
		font-size: 29px;
	}
	.deal p{
		font-size: 29px;
	}
	.spec:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.spec img:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.spec a{
		text-align: center;
		width: 100%;
		background: red;
	}
	.spec a:hover{
		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;
	}
	.only_for{
		color: red;
		word-spacing: 10px;
		font-size: 30px;
		font-family: bsitb;
	}
	.spec img{
		box-shadow: 1px 2px 7px;
	}
	.price{
		color: red;
		word-spacing: 10px;
		font-size: 35px;
		font-family: bsitb;
	}
	.spec hr{
		display: none;


	}
	.inches{
		font-size: 20px;
	}
	.deal:hover{
		box-shadow: 15px 20px 7px;
		transition: .2s;
	}
	.deal {
		margin: 4px;
		box-shadow: 1px 2px 7px;
		display: inline-table;
		width: 350px;
		height: 500px;
		background-image: linear-gradient(to top,orange,darkorange);
	}
	.deal:hover{
		box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.deal img:hover{
	box-shadow: 8px 11px 8px;
		transition: .2s;

	}
	.deal img{
		box-shadow: 1px 2px 7px;
	}
	.deal hr{
		display: none;
	}
	.deals label{
		font-family: bsitb;
		font-size: 75px;
	}
	.deals span{

		font-size: 40px;
		color: orange;
		word-spacing: 10px;
	}
	.deals p{
		font-size: 30px;
	}
	.deal_p_1{
		color: red;
		font-family: bsitb;
	}
	.deal_p_2{
		color: red;
		font-family: bsitb;
	}
	.deal a{
		text-align: center;
		width: 100%;
		background: red;
	}
	.deal a:hover{
		box-shadow: 1px 3px 5px black;
		transition: .2s;
		width: 355px;
	}
	.deal_only_for{
		color: red;
		word-spacing: 10px;
		font-size: 30px;
		font-family: bsitb;
	}
	.deal_price{
		color: red;
		word-spacing: 10px;
		font-size: 35px;
		font-family: bsitb;
	}
	.specials{
		padding: 0;
		padding: 20px;
	}
	.specials label{
		font-size: 75px;
		font-family: bsitb;
	}
	.end_of_deals{
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		padding: 10px;
		border-top: 1px solid orange;
	}
	.end_of_deals hr{
		border-bottom: none;
	}
	.end_of_deals p{
		margin: 20px;
		font-size: 20px;
		font-family: sans-serif;
	}
	.end_of_deals input{
		text-align: left;
		font-size: 16px;
		border: none;
		border-bottom: 2px solid orange;
		background: none;
		width: 300px;
		color: orange;
		text-decoration: none;
		font-family: sans-serif;
		margin: 0;
		margin-left: 20px;
	}
	.end_of_deals button{
		font-size: 20px;
		border: none;
		background-color: orange;
		color: white;
		font-family: sans-serif;
		padding: 5px;
		margin-left: 10px;
	}
		.end_of_deals button:hover{
			box-shadow: 1px 3px 5px black;
		}
		.end_of_deals input:hover{
			transition-timing-function:ease-in-out;
			width: 350px;
			transition: .3s;
		}
		.end_of_deals input:focus{
			width: 350px;
			transition: .3s;
			transition-timing-function:ease-in-out;
		}
}
@media (min-width: 1920px ){
	.spec{
		margin: 20px;
		width: 300px;
		height: 500px;
	}
	.spec p{
		font-size: 20px;
	}
	.spec:hover{
		box-shadow:
	}
	.deal{
		margin: 20px;
		width: 320px;
		height: 500px;
	}
	.deal p{
		font-size: 20px;
	}
}

/*-----------------------------------------------------------------------------ABOUT STARTS HERE*/

.about p{
		font-size: 20px;
		color: white;
}