@media only screen and (max-width: 300px) {
  header{
    background-color: black;
  }
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
header {
  padding: 50px;
  width: auto;
  height: auto;
  margin: 10px;
  background-color: darkslateblue;

}
header a{
  text-decoration: none;
  padding:10px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  display: inline-block;
}
header a:nth-child(4){
  padding: 10px;
  display: inline-block;
  position: absolute;
  right: 50px;

}
