
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
/*-index css starts from here-*/
#index{
  position: relative;
  width: auto;
  height: auto;
  padding: 20px;
  margin: 0px;
}

#index p{
  position: relative;
  margin-left: 50px;
  font-family: sans-serif;
  font-size: 20px;
  color:    #5499c7;
}
#index input{
  margin-left: 60px;
  border: none;
  width: 270px;
  border-bottom: solid;
  border-width: 3px;
  border-color:    #5499c7;
  font-family: sans-serif;
  font-size: 13px;
}
#index input:focus{

  width: 320px;
  font-size: 15px;
  transition: .2s;
}
#index button{
  margin-left: 125px;
  font-size: 18px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #5499c7;
  color: white;
  border: none;

}
#index button:hover{
  box-shadow: 2px 2px 4px 1px black;
  transition: .2s;
}
#index button:active {
  font-size: 15px;
  transition: .1s;
  font-weight: bold;
}
/*-header css starts from here -*/

header {
  padding: 20px;
  width: auto;
  height: auto;
  margin: 10px;
  background-color:   #5499c7  ;

}
header a{
  text-decoration: none;
  padding:10px;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  display: inline-block;
}
/*-Footer css starts from here -*/

Footer {
  padding: 20px;
  width: auto;
  height: auto;
  margin: 10px;

}
Footer p{
  color: black;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}
Footer a{
  text-decoration: none;
  color: #5499c7;
}


/*-About css starts here*/
#about{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.about_div_1{
  padding: 25px;
  width: auto;
  width: auto;
  margin: 10px;
}
.sec_about_1{
  font-family: sans-serif;
  border: solid;
  border-radius: 50px;
  padding: 10px;
  color: white;
  border-width: 1px;
  border-color:  #5499c7;
  background:  #5499c7;
  text-decoration: none;
  font-size: 20px;
}
.sec_about_1:hover{
  padding-left: 50px;
  transition: .2s;
}
/*-Signup css starts here*/
#signup{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.signup_div_1{
  padding: 25px;
  width: auto;
  width: auto;
  margin: 10px;
}
.sec_signup_1{
  font-family: sans-serif;
  border: solid;
  border-radius: 50px;
  padding: 10px;
  color: white;
  border-width: 1px;
  border-color:  #5499c7;
  background:  #5499c7;
  text-decoration: none;
  font-size: 20px;
}
.sec_signup_1:hover{
  padding-left: 50px;
  transition: .2s;
}
/*---media query for footer---*/
@media (min-width: 768px) {
  footer p{

    }
}
@media (max-width: 550px) {
  footer p{
    font-size: 10px;
  }
  footer a{
    color:  #58d68d ;
  }
}
/*----media query for index p,input and button----*/
@media (max-width: 550px)
  {
 #index{
  background-color: #58d68d;
  height: auto;
  text-align: center;
  }
  #index p{
    text-align: center;
    margin-left:0;
    font-size: 15px;
    font-weight: bold;
    color:  white; ;
  }
  #index input{
    margin-left: 0px;
    border: none;
    background-color: #58d68d;
    width: 200px;
    border-bottom: solid;
    border-width: 2px;
    border-color:   white;
    font-family: sans-serif;
    font-size: 12px;
  }
  #index input:focus{
    width: 200px;
    font-size: 13px;
    transition: .1s;

  }
  #index button{
    font-size: 20px;
    margin-left: 0;
    background-color:  #58d68d ;
    box-shadow: 2px 2px 4px 1px black;
    padding: 5px;
   }
   #index button:active{
     font-size: 15px;
     transition: .1s;
     font-weight: bold;
   }

}
@media (max-width: 320px) {
  #index p{
    font-size: 12px;
  }
  #index input{
    width: 150px;
    background: #58d68d;
    font-size: 10px;
  }
  #index input:focus{
    width: 170px;
    font-size: 12px;
    transition: .1s;
  }
  #index button{
    margin-left: 0;
    background-color:  #58d68d ;
    box-shadow: 1px 2px 2px 1px black
    padding 2px;
    font-size: 12px;
  }
  #index button:active{
    font-size: 10px;
    transition: .2s;
    font-weight: bold;
  }
  }

/*----media query for about php----*/

@media (max-width:550px) {
  #about{
    background-color:  #58d68d ;
  }
  .sec_about_1{
    background: white;
    border-color: white;
    color:  #58d68d;
    padding: 8px;
  }
  .sec_about_1:hover{
    padding: 8px;
  }
  .sec_about_1:active{
    font-size: 15px;
  }
  .sec_about_1:out-of-range{
    font-size: 20px;
  }

/*----media query for signup php----*/
@media (max-width:550px) {
  #signup{
    background-color:  #58d68d ;
  }
  .sec_signup_1{
    background: white;
    border-color: white;
    color:  #58d68d;
    padding: 8px;
  }
  .sec_signup_1:hover{
    padding: 8px;
  }
  .sec_signup_1:active{
    font-size: 15px;
  }
  .sec_signup_1:out-of-range{
      font-size: 20px;

  }
}
/*----media query for header php----*/

@media (max-width: 550px){

  header {
    padding: 0px;
    background-color: white;
  }
  header a{
    font-size: 18px;
    color: #58d68d;
  }
}
@media (max-width: 340px) {
  header {
    height: auto;
    width: auto;
    background: white;



  }
  header a{
    font-size: 15px;
    color: #58d68d;
  }
}
@media (max-width: 320px) {
  header{
    height: 100%;
    width: 100%;
    background: white;
  }
  header a{
    height: auto;
    width: auto;
  }
  }
