body	{
	height: 100%;
	width: 100%;
	padding: 20px;
	overflow: hidden;
	position: absolute;
	margin: 0;
	background-color: whitesmoke;
}
header {
	width: 100%;
	height: auto;
	margin: 0;

}
header a{
	font-size: 20px;
	padding: 20px;
	font-family: sans-serif;
	text-decoration: none;
	color: black;
}
header .sec_header_1{

}
header .sec_header_2{
	
}

header .sec_header_3{
	
}

header .sec_header_4{
	
}

footer	{
	text-align: center;
	height: auto;
	width: 100%;
	position: absolute;
	padding: 20px;
	margin: 0;
}
footer p{
	font-size: 20px;
	font-family: sans-serif;
}
footer .sec_footer:hover{
	color: navy;
	transition: .5s;
	cursor: pointer;
}
footer .sec_footer_2:hover{
	color: orangered;
	transition: .5s;
	cursor: pointer;
}
