body	{
	height: 100%;
	width: 100%;
	padding: 20px;
	overflow: hidden;
	position: absolute;
	margin: 0;
	background-color: whitesmoke;
}
header {
	width: 100%;
	height: auto;
	margin: 0;

}
header a{
	font-size: 20px;
	padding: 20px;
	font-family: sans-serif;
	text-decoration: none;
	color: black;
}
header a:hover{
	color: #1877F2;
	transition: .1s;
	border-bottom: solid;
	border-width: 3px;
	border-collapse: collapse;
	border-color: #1877F2;
}
footer	{
	text-align: center;
	height: auto;
	width: 100%;
	position: absolute;
	padding: 20px;
	margin: 0;
}
footer p{
	font-size: 20px;
	font-family: sans-serif;
}
footer .sec_footer:hover{
	color: #1877F2;
	transition: .5s;
	cursor: pointer;
}
footer a{
	text-decoration: none;
	color: black;
}
footer .sec_footer_2:hover{
	color: #1877F2;
	transition: .3s;
	cursor: pointer;
	
}
